:root {
	--page-width: 1440px;
	--container-width: 1146px;
	--little-container-width: 1044px;
	--blue: #2879b6;
	--blue-200: #baecf8;
	--blue-hover: #aecfe8;
	--blue-secondary: #174669;
	--blue-50: #dfedf8;
	--grey: #505a62;
	--form-grey: #8f9aa3;
	--navbar-grey: #f9fafa;
	--form-hover-grey: #f0f2f3;
	--datepicker-disabled-grey: #c8ced2;
	--btn-blue-200: #aecfe8;
	--cinquante: 50px;
	--opacity-75: 0.75;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	line-height: 22.4px;
	font-family: 'GeneralSans-Medium';
	font-weight: 500;
	letter-spacing: 0em;
}
body[lang='he_IL'] {
	direction: rtl;
}
a {
	color: var(--blue);
}
a:hover {
	opacity: var(--opacity-75);
}
.container {
	max-width: var(--container-width);
	margin-left: auto;
	margin-right: auto;
}
.little-container {
	max-width: var(--little-container-width);
	margin-left: auto;
	margin-right: auto;
}
.bg-blue {
	background-color: var(--blue) !important;
}
.text-blue {
	color: var(--blue) !important;
}
.bg-blue-secondary {
	background-color: var(--blue-secondary) !important;
}
.text-blue-secondary {
	color: var(--blue-secondary) !important;
}
.bg-blue-200 {
	background-color: var(--blue-200);
}
.text-blue-200 {
	color: var(--blue-200);
}
.hover-decoration-none:hover {
	text-decoration: none !important;
}
#dropdownMenuButton {
	color: var(--blue-secondary);
	width: 60px;
}
#dropdownMenuButton.open {
	color: var(--blue) !important;
}
.localizationTool {
	background-color: transparent;
	width: fit-content;
	margin-left: auto;
}
.localizationTool .ltool-dropdown-label {
	color: var(--blue-secondary);
	padding: 12px 24px 12px 12px;
}
.localizationTool.localizationTool.ltool-is-visible .ltool-dropdown-label {
	color: var(--blue);
}
.localizationTool .ltool-dropdown-label .ltool-language-country span {
	display: none;
}
.localizationTool.ltool-is-visible ul {
	min-width: 147px;
	right: 0;
}
.localizationTool.ltool-is-visible .ltool-dropdown-label-arrow {
	transform: rotate(-180deg);
}
.localizationTool.ltool-is-visible .ltool-dropdown-label-arrow,
.localizationTool .ltool-dropdown-label-arrow,
#dropdownMenuButton:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	border: 0;
	cursor: pointer;
	background: url(../img/CaretDown.png) right center transparent no-repeat;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	transition: transform 1s;
}
.ltool-dropdown-items {
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}
.ltool-dropdown-items .ltool-language {
	padding: 10px 16px;
	background: white;
	text-transform: none;
}
.ltool-dropdown-items .ltool-language:hover,
.ltool-dropdown-items li.ltool-is-selected {
	background: var(--blue-50);
}
#dropdownMenuButton:focus {
	box-shadow: none;
}
#dropdownMenuButton.open:after {
	background: url(../img/CaretUp.png) right center transparent no-repeat;
}

.section-about-cont {
	margin-bottom: 94px;
}

.section-about-cont .section-title {
	margin-bottom: 42px;
}

.section-title {
	font-size: 64px;
	font-weight: 600;
	line-height: 70px;
	text-align: left;
}

.btn-white {
	font-family: 'GeneralSans-Semibold';
	padding: 11px 22px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	background-color: #fff;
	border-radius: 0;
}

.scroll-indicator {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 16.8px;
	font-family: 'GeneralSans-Medium';
	font-weight: 500;
}

.scroll-indicator span {
	margin-right: 18px;
}
[dir='rtl'] .scroll-indicator span {
	margin-left: 18px;
	margin-right: unset;
}

.btn-scroll,
.scroll-wrapper > div {
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
	text-align: left;
	border: 0;
	padding: 0;
	background-color: transparent;
	visibility: visible;
	opacity: 1;
}
.btn-scroll .prev {
	transform: rotate(180deg);
}
[dir='rtl'] .btn-scroll .prev {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	margin-left: 0.5rem !important;
}

.btn-scroll.hide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

[dir='rtl'] .btn-scroll svg {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);

	margin-right: 0.5rem;
	margin-left: 0 !important;
}

.slick-list {
	overflow: visible;
}

.slick-dots {
	bottom: -24px;
}

.slick-dots li {
	overflow: hidden;
	margin: 0 4px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button::before {
	width: 52px;
	height: 2.5px;
	padding: 0;
}

.slick-dots li button::before {
	content: '';
	background-color: var(--blue);
	opacity: 1;
	border-radius: 1000px;
}

.slick-dots li.slick-active button:before {
	opacity: 0.5;
}

.bg-blue .slick-dots li button::before {
	background-color: white;
}

.bg-blue .slick-dots li.slick-active button:before {
	opacity: 1;
	background-color: var(--blue-secondary);
}
.content {
	padding-top: 203px;
}

/***************************
********* Forms ***********
***************************/
.custom-form input,
.custom-form textarea {
	height: 48px;
	padding: 10px 16px;
	border: 1px solid var(--form-grey);
	border-radius: 0;
	outline: none;
	color: var(--blue-secondary);
	font-family: 'GeneralSans-Medium';
	font-weight: 500;
	transition: all 0.2s ease;
}

.custom-form textarea {
	height: 130px;
	resize: none;
}

.custom-form input::placeholder,
.custom-form textarea::placeholder {
	color: var(--form-grey);
	opacity: 1;
}

.custom-form input:hover:not(:focus),
.custom-form textarea:hover:not(:focus) {
	background-color: var(--form-hover-grey);
	border-color: var(--form-hover-grey);
}

.custom-form input:focus,
.custom-form textarea:focus {
	border-color: var(--blue-secondary);
}

.custom-form label {
	font-size: 12px;
	margin-bottom: 8px;
	color: var(--blue-secondary);
	font-family: 'GeneralSans-Medium';
	font-weight: 500;
	line-height: 16.8px;
}
[dir='rtl'] .custom-form label {
	text-align: right;
}

.datetimepicker-cont svg {
	top: 16px;
	right: 16px;
}

.datetimepicker-cont input {
	padding-right: 48px;
}

.datetimepicker-cont input:hover::placeholder {
	transition: all 0.2s ease;
	color: var(--grey);
}

/* Datepicker Overwrite */
.ui-datepicker {
	width: 321px;
	padding: 16px;
	margin-top: 8px;
	box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.08);
	border-radius: 0;
	border: none !important;
}

.ui-datepicker-calendar {
	margin-bottom: 0 !important;
}

.ui-datepicker-header {
	border: none !important;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 16px;
	padding: 0 !important;
	font-family: 'GeneralSans-Semibold';
	font-weight: 600;
	font-size: 12px;
	text-transform: capitalize;
	color: var(--grey);
	line-height: 16.8px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 24px !important;
	height: 24px !important;
	position: relative;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 0 !important;
}

.ui-datepicker-next {
	right: 0 !important;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
	border: none;
	background: none;
	font-weight: 600;
	color: var(--grey);
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
	border: none;
	background: none;
	font-weight: 600;
	color: var(--grey);
	opacity: 1;
}

.ui-datepicker-prev.ui-state-hover {
	left: 0;
	top: 2px;
}

.ui-datepicker-next.ui-state-hover {
	right: 0;
	top: 2px;
}

.ui-datepicker-prev::before {
	content: url(../img/ArrowLeft.svg);
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
}

.ui-datepicker-next::before {
	content: url(../img/ArrowRight.svg);
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
}

.ui-datepicker th {
	font-family: 'GeneralSans-Semibold';
	font-weight: 600;
	font-size: 12px;
	color: var(--form-grey);
	padding: 8px 4px;
}

.ui-datepicker td {
	padding: 0;
}

.ui-datepicker td > a,
.ui-datepicker td > span {
	padding: 8px 4px;
	text-align: center;
	font-size: 12px;
	font-family: 'GeneralSans-Medium';
	font-weight: 500 !important;
	line-height: 16.8px;
}

.ui-datepicker td .ui-state-default {
	color: var(--grey);
	background: none;
	border: none;
}

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-active.ui-state-hover {
	color: white;
	background: var(--blue);
}

.ui-datepicker td .ui-state-hover {
	opacity: 1;
	background: var(--form-hover-grey);
}

.ui-datepicker td.ui-state-disabled {
	opacity: 1;
}

.ui-datepicker td.ui-state-disabled span {
	opacity: 1;
	color: var(--datepicker-disabled-grey);
}

.ui-datepicker .ui-datepicker-buttonpane {
	margin-top: 16px;
	padding: 0;
	border: none;
	display: flex;
	clear: both;
	justify-content: space-between;
	display: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	min-width: 122px;
	font-family: 'GeneralSans-Semibold';
	font-weight: 600;
	font-size: 14px;
	text-transform: capitalize;
	color: var(--blue);
	background-color: unset;
	line-height: 19.6px;
	border-radius: 0;
}

.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {
	display: none;
}

.ui-datepicker .ui-datepicker-buttonpane button:nth-child(2) {
	border-color: var(--blue);
	transition: all ease 0.3s;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-buttonpane button:last-child {
	border-color: transparent;
	transition: all ease 0.3s;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-buttonpane button:nth-child(2):hover {
	background-color: var(--btn-blue-200);
	border-color: var(--btn-blue-200);
	color: var(--blue-secondary);
}

.ui-datepicker .ui-datepicker-buttonpane button:last-child:hover {
	background-color: var(--blue-secondary);
	color: white;
}
/* Datepicker Overwrite */

/* Timepicker Overwrite */
.ui-timepicker-wrapper {
	width: 321px;
	padding: 16px;
	margin-top: 8px;
	box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.08);
	border-radius: 0;
	border: none !important;
	height: 262px;
	max-height: unset;
	overflow: hidden;
}

.ui-timepicker-list {
	display: flex;
	flex-wrap: wrap;
}

.ui-timepicker-wrapper .ui-timepicker-list li {
	width: 72px;
	text-align: center;
	padding: 8px 4px;
	color: var(--grey);
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: var(--datepicker-disabled-grey);
	pointer-events: none;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: var(--blue) !important;
	color: white !important;
}
/* Timepicker Overwrite */

/***************************
********* Header ***********
***************************/
.header {
	position: fixed;
	width: 100vw;
	left: 0;
	background: #fff;
	z-index: 8;
}
.header .navbar-brand {
	width: 100%;
	max-width: 348px;
	padding-top: 0;
	padding-bottom: 0;
}

.header .navbar-brand img {
	width: 273px;
}

.header .navbar {
	max-width: var(--page-width);
	margin: auto;
	padding: 16px var(--cinquante);
}
.header .nav-item {
	padding-left: 12px;
	padding-right: 12px;
}
.header .nav-item:first-child {
	margin-left: 0;
}
.header .nav-link {
	position: relative;
	padding-left: 3px !important;
	padding-right: 3px !important;
	color: var(--grey);
	text-transform: capitalize;
	white-space: nowrap;
}
.header .nav-link:after {
	display: inline-block;
	/* content: ""; */
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
}
.target {
	height: 2px;
	position: absolute;
	border-bottom: 4px solid transparent;
	z-index: -1;
	transform: translateX(-60px);
	background-color: var(--blue);
}

.header .nav-link,
.target {
	transition: all 0.35s ease-in-out;
}
.header .nav-item.active .nav-link,
.header .nav-item:hover .nav-link {
	color: var(--blue);
}

.header .nav-item:hover .nav-link:after,
.header .nav-item.active .nav-link:after {
	background-color: var(--blue);
}

.header .right {
	width: 100%;
}

.header .right .link-wrapper {
	width: fit-content;
	padding-left: 16px;
	padding-right: 16px;
}

.header .call-action-phone {
	font-family: 'GeneralSans-Semibold';
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	text-align: left;
	color: var(--blue);
	white-space: nowrap;
}
.header .go-to-rendez-vous {
	font-family: 'GeneralSans-Semibold';
	font-size: 14px;
	padding: 10px 20px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}
.header .go-to-rendez-vous:hover {
	background-color: var(--blue-secondary) !important;
	opacity: 1;
}
.header .dropdown-language .dropdown-menu {
	right: 0;
	left: inherit;
}

.header .navbar-toggler {
	width: 36px;
	height: 36px;
	padding: 0;
	border: none;
	outline: none;
	display: none;
}

.header .navbar-closer {
	display: none;
	content: '';
	position: absolute;
	top: -88px;
	left: 0;
	background-color: white;
	width: 68px;
	height: 88px;
	align-items: center;
	justify-content: center;
}

/***************************
********* Footer ***********
***************************/
.footer {
	padding-top: 35px;
}
.footer .copyright {
	font-family: 'GeneralSans-Regular';
	font-size: 10px;
	font-weight: 500;
	line-height: 14px;
	padding: 14px 0;
}
.footer-colonne {
	padding: 58px 0;
}
.footer-colonne .divider {
	margin-left: 108px;
	margin-right: 108px;
	max-width: 1px;
}
.footer-colonne .col {
	padding-left: 0;
	padding-right: 0;
}
.footer-colonne .col-tel {
	flex: 1 0 350px;
	max-width: 350px;
	padding: 0;
}
.footer-colonne .col-tel h4 {
	font-family: 'GeneralSans-Semibold';
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	text-align: left;
}
.footer-colonne .col-tel a {
	font-family: 'GeneralSans-Semibold';
	font-size: 48px;
	font-weight: 600;
	line-height: 53px;
	text-align: left;
	padding: 24px;
}
.footer-colonne .col-tel p {
	font-size: 12px;
	line-height: 17px;
	text-align: left;
}
.footer-colonne .col-menu {
	flex: 1 0 297px;
	max-width: 297px;
}
.footer-colonne .col-menu ul {
}
.footer-colonne .col-menu ul li {
}
.footer-colonne .col-menu ul li a {
	font-size: 20px;
	line-height: 22px;
	text-align: left;
	color: #fff;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	transition: all 0.3s ease-out;
}
.footer-colonne .col-menu ul li a:hover {
	transition: all 0.3s ease-out;
	color: var(--blue-hover);
	opacity: 1;
	padding-left: 10px;
}
.footer-colonne .col-logo {
	flex: 1 0 282px;
	max-width: 282px;
	margin-left: auto;
}
.footer-colonne .col-logo a {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
	width: fit-content;
}
.footer-colonne .col-logo a:hover svg path {
	fill: var(--blue-hover);
	opacity: 1;
}

[dir='rtl'] .footer-colonne .col-logo a svg {
	transform: none;
}

/***************************
***** Section accueil *******
***************************/
#accueil {
	padding-top: 173px;
	padding-bottom: 200px;
}

#accueil .img-wrapper {
	flex: 1 0 519px;
}
#accueil .img-wrapper img {
	width: 100%;
}
#accueil .img-wrapper > div {
	width: 375px;
	position: relative;
}
#accueil .img-wrapper > div::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 94px 0 0 94px;
	border-color: transparent transparent transparent var(--blue);
}
#accueil .text-wrapper {
	flex: 1 0 435px;
}
#accueil .text-wrapper a:hover {
	color: #fff !important;
	background-color: var(--blue-secondary) !important;
	opacity: 1;
}
#accueil .text-wrapper a:hover svg path {
	stroke: #fff;
}
#accueil .text-wrapper p {
	margin: 44px 0;
}

/***************************
***** Section services *******
***************************/
#services {
	padding-top: 137px;
	padding-bottom: 131px;
	overflow: hidden;
}

#services .section-title + p {
	max-width: 285.3px;
}

.service-card {
	width: 100%;
	max-width: 355px;
	height: 504px;
	position: relative;
}

.sc-img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 55px;
	border: 1px solid white;
	transform: scaleX(-1);
}

.sc-text {
	position: absolute;
	top: 0;
	left: 0;
	height: 149px;
	background-color: var(--blue);
	color: white;
	padding: 36px;
	overflow: hidden;
	transition: 0.3s all ease;
	z-index: 1;
}

.service-card:hover .sc-text {
	background-color: var(--blue-secondary);
	height: 415px;
}

.sc-title {
	font-family: 'GeneralSans-Semibold';
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	height: 52px;
	margin-bottom: 56px;
	min-height: 52px;
	margin-bottom: 56px;
}

.sc-title h3 {
	font-family: 'GeneralSans-Semibold';
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	max-width: 233px;
}

.sc-text > p {
	font-size: 14px;
	margin-bottom: 0;
}

.service-card::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 89px 0 0 89px;
	border-color: transparent transparent transparent white;
}

#services .position-relative {
	height: 504px;
}

#services-carousel .slick-slide {
	margin: 0 26px;
	width: 100%;
	max-width: 355px;
}

#services-carousel .slick-list {
	margin: 0 -20.5px;
}

/***************************
** Section réalisations ****
***************************/
#realisations {
	/* padding-bottom: 42px; */
}
.realisations-upper {
	padding: 158px 0;
}
.realisations-upper .top {
	margin-bottom: 94px;
}
.realisations-upper .top,
.temoignages .top {
	margin-left: -15px;
	margin-right: -15px;
}
.realisations-upper .text-wrapper {
	flex: 1 0 412px;
	max-width: 412px;
}
#realisations .text-wrapper p {
	margin-top: 48px;
}
.realisations-upper .scroll-wrapper {
}

.realisations-upper .bottom {
	height: 453px;
}
.realisations-list {
	margin-left: -32px;
}
/* .realisations-list[dir='rtl'],
[dir='rtl'] .realisations-list {
	margin-left: unset;
	margin-right: -32px;
} */
.realisations-list li:not(.slick-dots li) {
	max-width: 744px;
	padding: 0 20px;
	overflow: hidden;
}
.realisations-list li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.realisations-list li:not(.slick-dots li) span.avant,
.realisations-list li:not(.slick-dots li) span.apres {
	padding: 10px;
	background-color: #fff;
	font-family: 'GeneralSans-Semibold';
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	color: var(--blue-secondary);
	top: 20px;
	left: 20px;
}
#realisations .container-slider {
	left: 0;
}
#realisations .container-slider[dir='rtl'],
[dir='rtl'] #realisations .container-slider {
	/* left: calc(100% - 728px); */
	right: 0;
}
#realisations .divider {
	height: 1px;
}

.realisations-expert {
	background: url(../img/tuyau.png) 0 0 transparent no-repeat;
	background-size: cover;
}
.realisations-expert .container {
	padding: 124px 0;
	border-top: 1px solid #fff;
}

.realisations-expert .text-wrapper {
	flex: 1 0 590px;
	max-width: 590px;
}
.realisations-expert .text-wrapper p {
	margin-top: 48px;
}
.realisations-expert .bottom {
	height: 364px;
	margin-top: 94px;
}
.realisations-expert-list {
	margin-left: -25px;
	counter-reset: item;
}
/* [dir='rtl'] .realisations-expert-list {
	margin-left: unset;
	margin-right: -25px;
} */
#expertises .container-slider[dir='rtl'],
[dir='rtl'] #expertises .container-slider {
	/* left: calc(100% - 785px); */
	right: 0;
	margin: 0 20px;
}
.realisations-expert-list li:not(.slick-dots li) {
	max-width: 824px;
	padding: 64px 25px 0;
	overflow: hidden;
	position: relative;
}
/* [dir="rtl"] .realisations-expert-list li:not(.slick-dots li):before, */
/* .realisations-expert-list li:not(.slick-dots li):before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-family: "GeneralSans-Light";
  font-size: 128px;
  font-weight: 300;
  line-height: 141px;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 0;
} */
.realisations-expert-list li .item-img-wrapper {
	max-width: 355px;
	padding-left: 55px;
	position: relative;
}
.realisations-expert-list li .item-img-wrapper::before {
	counter-increment: item;
	content: counter(item, decimal-leading-zero);
	font-family: 'GeneralSans-Light';
	font-size: 128px;
	font-weight: 300;
	line-height: 141px;
	text-align: left;
	position: absolute;
	z-index: 1;
	top: -64px;
	left: 0;
}
.realisations-expert-list li .item-img-wrapper:after {
	position: absolute;
	bottom: 0;
	left: 55px;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 74px 0 0 74px;
	border-color: transparent transparent transparent transparent;
}

.realisations-expert-list li .item-text-wrapper {
	padding-left: 64px;
}
.realisations-expert-list li .item-text-wrapper h4 {
	font-family: 'GeneralSans-Semibold';
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
}
.realisations-expert-list li .item-text-wrapper p {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
	margin-top: 36px;
}

/***************************
** Section temoignages ****
***************************/
#temoignages {
	padding-top: 101px;
	padding-bottom: 164px;
}
#temoignages .text-wrapper {
	flex: 1 0 640px;
	max-width: 640px;
}
#temoignages .text-wrapper p {
	margin-top: 48px;
}
#temoignages .bottom {
	height: 430px;
	margin-top: 94px;
}
#temoignages .container-slider[dir='rtl'],
[dir='rtl'] #temoignages .container-slider {
	/* left: calc(100% - 430px); */
	right: 0;
}
.temoignages-list {
	margin-left: -78px;
	height: 100%;
}
.temoignages-list li {
	height: 100%;
	max-width: 549px;
	padding: 0 64px;
	overflow: hidden;
}
#temoignages .slick-list,
#temoignages .slick-track {
	height: 100%;
}

.temoignages-list li .item-text-wrapper p {
	font-family: 'GeneralSans-SemiboldItalic';
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.temoignages-list li > div {
	padding-top: 60px;
	padding-left: 60px;
	position: relative;
}
.temoignages-list li > div:before {
	content: '';
	width: 59px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/quote.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.rate-wrapper .rate-img-wrapper {
	flex: 1 0 48px;
	height: 48px;
	max-width: 48px;
	margin-right: 20px;
	position: relative;
}
[dir='rtl'] .rate-wrapper .rate-img-wrapper {
	margin-left: 20px;
	margin-right: 0;
}
.rate-wrapper .rate-img-wrapper:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 0 0 12px;
	border-color: transparent transparent transparent white;
}
.rate-wrapper h4 {
	font-family: 'GeneralSans-Semibold';
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
.rate-wrapper span {
	width: 14px;
	height: 14px;
	background: url(../img/start.png) 0 0 transparent no-repeat;
	display: inline-block;
}

/***************************
***** Section rendez-vous *******
***************************/
#prendre-rendez-vous {
	padding-top: 133px;
	padding-bottom: 161px;
}

#prendre-rendez-vous .text-wrapper {
	flex: 0 0 298px;
	padding: 48px 0;
}

#prendre-rendez-vous .top-subwrapper {
	margin-bottom: 45px;
}

#prendre-rendez-vous .text-wrapper h2 {
	margin-bottom: 36px;
}

#prendre-rendez-vous .bottom-subwrapper p {
	font-size: 12px;
	line-height: 16.8px;
	font-family: 'GeneralSans-Medium';
	font-weight: 500;
	max-width: 221px;
	margin-bottom: 0;
}

#prendre-rendez-vous .form-wrapper {
	flex: 0 0 718px;
	padding: 48px;
	background-color: white;
	max-width: calc(100% - 330px);
}

#prendre-rendez-vous .submit {
	font-family: 'GeneralSans-Semibold';
	font-size: 14px;
	padding: 10px 20px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}
#prendre-rendez-vous .submit:hover {
	background-color: var(--blue-secondary) !important;
	opacity: 1;
}
.container-slider > ul {
	padding: 0;
}
