[dir='rtl'] .section-title {
	text-align: right;
}

[dir='rtl'] .section-title + p {
	text-align: right;
}

[dir='rtl'] .btn-white {
	text-align: right;
}

[dir='rtl'] svg {
	text-align: right;
	transform: rotateY(180deg);
}

/***************************
********* Forms ***********
***************************/
[dir='rtl'] .datetimepicker-cont svg {
	right: unset;
	left: 16px;
}

[dir='rtl'] .datetimepicker-cont input {
	padding-right: 16px;
	padding-left: 48px;
}

[dir='rtl'] .ui-datepicker-prev > span,
[dir='rtl'] .ui-datepicker-next > span {
	visibility: hidden;
	opacity: 0;
}

/***************************
***** Section accueil *******
***************************/

[dir='rtl'] #accueil .text-wrapper {
	text-align: right;
}

/***************************
***** Section services *******
***************************/
[dir='rtl'] .service-card {
	text-align: right;
}

/***************************
** Section réalisations ****
***************************/

[dir='rtl'] .realisations-expert-list li .item-img-wrapper {
	padding-left: 15px;
	padding-right: 55px;
}
[dir='rtl'] .realisations-expert-list li .item-img-wrapper::before {
	text-align: right;
	left: unset;
	right: 0;
}

[dir='rtl'] .realisations-expert-list li .item-text-wrapper {
	padding-left: 15px;
	padding-right: 64px;
}
[dir='rtl'] .realisations-expert-list li .item-text-wrapper h4 {
	text-align: right;
}
[dir='rtl'] .realisations-expert-list li .item-text-wrapper p {
	text-align: right;
}

/***************************
** Section temoignages ****
***************************/
[dir='rtl'] .temoignages-list {
	margin-left: 0;
	margin-right: 52px;
}

[dir='rtl'] .temoignages-list li .item-text-wrapper p {
	text-align: right;
}

[dir='rtl'] .temoignages-list li > div {
	padding-left: 0px;
	padding-right: 0;
}

[dir='rtl'] .temoignages-list li > div:before {
	left: unset;
	right: 0;
}

[dir='rtl'] .rate-wrapper h4 {
	text-align: right;
}

[dir='rtl'] .rate-wrapper .stars {
	text-align: right;
}

/***************************
********* Header ***********
***************************/
[dir='rtl'] .navbar-brand {
	text-align: right;
	margin-right: 0;
	margin-left: 1rem;
}

[dir='rtl'] .navbar-nav {
	padding: 0;
}

[dir='rtl'] .header .navbar-closer {
	left: unset;
	right: 0;
}

[dir='rtl'] .localizationTool .ltool-dropdown-label {
	padding: 12px 12px 12px 24px;
}

[dir='rtl'] .localizationTool.ltool-is-visible .ltool-dropdown-label-arrow,
[dir='rtl'] .localizationTool .ltool-dropdown-label-arrow {
	right: unset;
	left: 0;
}

[dir='rtl'] .localizationTool .ltool-language-countryname {
	margin-left: 0;
	margin-right: 8px;
}

[dir='rtl'] .localizationTool.ltool-is-visible ul {
	right: unset;
	left: 0;
}

/***************************
********* Footer ***********
***************************/
[dir='rtl'] .footer-colonne .col-tel h4 {
	text-align: right;
}

[dir='rtl'] .footer-colonne .col-tel a {
	text-align: right;
}

[dir='rtl'] .footer-colonne .col-tel p {
	text-align: right;
}

[dir='rtl'] .footer-colonne .col-menu ul {
	padding: 0;
}

[dir='rtl'] .footer-colonne .col-menu ul li a {
	text-align: right;
}

[dir='rtl'] .footer-colonne .col-menu ul li a:hover {
	padding-left: 0;
	padding-right: 10px;
}

[dir='rtl'] .footer-colonne .col-logo {
	margin-left: unset;
	margin-right: auto;
}

[dir='rtl'] .footer-colonne .col-logo a {
	margin-left: unset !important;
	margin-right: auto;
	text-align: right;
}

[dir='rtl'] .social-network ul {
	padding: 0;
}

[dir='rtl'] .social-network li.mr-auto {
	margin-right: unset !important;
	margin-left: auto;
}

[dir='rtl'] .social-network li.ml-2 {
	margin-left: unset !important;
	margin-right: 0.5rem;
}

[dir='rtl'] .container-slider > ul {
	padding: 0;
}
