/* // Extra Large devices (desktops, less than 1200px) */
@media (max-width: 1399.98px) {
  .header .navbar {
    padding: 16px 25px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .navbar-brand {
    width: 100%;
    max-width: 210px;
  }
  .header .navbar-brand img {
    width: 160px;
  }
  .header .nav-item {
    padding-left: 6px;
    padding-right: 6px;
  }

  .header .right .link-wrapper {
    padding-right: 6px;
  }

  .header .call-action-phone {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .header .go-to-rendez-vous {
    padding: 10px 12px;
    white-space: nowrap;
  }

  .content {
    padding-top: 132.22px;
  }
}

@media (max-width: 1199.98px) {
  #accueil,
  #services {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .realisations-upper {
    padding: 72px 0 0;
  }
  .realisations-expert .container {
    padding: 72px 0;
  }
  .realisations-expert,
  #temoignages,
  #prendre-rendez-vous {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .footer-colonne {
    flex-direction: column;
  }
  .footer-colonne .col-tel,
  .footer-colonne .col-tel h4 {
    text-align: center;
  }
  .footer-colonne .col-tel p {
    max-width: 337px;
    margin: auto;
  }
  .footer-colonne .col-menu,
  .footer-colonne .col-logo,
  .footer-colonne .col-tel {
    flex: auto;
    max-width: unset;
  }

  .footer-colonne .divider {
    max-width: 100%;
    margin: 64px 0;
    min-height: 1px;
  }
  .footer-colonne .col-menu {
    align-items: start !important;
  }
  .footer-colonne .col-logo > a {
    display: none !important;
  }
  .footer .social-network {
    margin-top: 64px;
  }
  .footer-colonne .col-menu ul {
    width: 100%;
  }
  .footer-colonne .col-menu ul li {
    display: inline-block;
    width: 49%;
  }
  .footer-colonne .col-menu ul li a {
    font-size: 24px;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-colonne .col-menu ul li:nth-child(2n) a {
    text-align: right;
  }
  .footer .logo-footer {
    margin-bottom: 64px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .header .navbar {
    padding: 8px 16px;
  }

  .header .navbar-toggler {
    order: 1;
    display: block;
  }

  .header .navbar-brand {
    order: 2;
    margin-right: 0;
    padding: 0;
    height: 72px;
    padding-left: 24px;
    width: auto;
  }

  .header .navbar-brand img {
    height: 100%;
    width: auto;
  }

  .header .dropdown-language {
    order: 3;
  }

  .header .navbar-closer {
    display: flex;
  }

  .navbar-collapse .navbar-closer {
    opacity: 1;
    visibility: visible;
  }

  .navbar-collapse.collapsing .navbar-closer {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }

  .navbar-collapse.show .navbar-closer {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }

  .localizationTool ul {
    right: 0;
  }

  .navbar-collapse {
    background-color: var(--navbar-grey);
    position: absolute;
    left: 0;
    top: 88px;
    padding: 76px 0 128px 0;
    width: 100%;
    height: auto;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    left: -100%;
    height: auto;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out;
  }

  .header .navbar-nav {
    text-align: center;
    margin-bottom: 86px;
  }

  .header .nav-item {
    font-size: 24px;
    padding: 0 32px;
  }

  .header .nav-item:not(:last-child) {
    margin-bottom: 48px;
  }

  .header .nav-link {
    padding: 0 !important;
  }

  .content {
    padding-top: 88px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  :root {
    --container-width: calc(100% - 48px);
    --little-container-width: calc(100% - 48px);
  }

  .section-title {
    font-size: 48px;
    line-height: 52.8px;
  }

  .section-about-cont {
    margin-bottom: 72px;
  }

  .section-about-cont .section-title {
    margin-bottom: 24px;
  }

  #accueil .img-wrapper {
    flex: 1 0 50%;
  }
  #accueil .img-wrapper > div {
    width: 315px;
  }

  #accueil .text-wrapper {
    flex: 1 0 50%;
  }
  #accueil .text-wrapper p {
    margin: 36px 0;
  }

  #realisations .text-wrapper p,
  .realisations-expert .text-wrapper p,
  #temoignages .text-wrapper p {
    margin-top: 24px;
  }

  .realisations-upper .top {
    margin-bottom: 72px;
  }

  .realisations-upper .text-wrapper,
  .realisations-expert .text-wrapper,
  #temoignages .text-wrapper {
    flex: 1 0 60%;
    max-width: 60%;
  }

  .realisations-expert-list li .item-text-wrapper {
    padding-left: 36px;
  }

  .realisations-expert-list li:not(.slick-dots li) {
    max-width: 720px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --container-width: calc(100% - 32px);
    --little-container-width: 315px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .show-desktop {
    display: none;
  }
  #services .container,
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #prendre-rendez-vous .container > .row {
    flex-direction: column;
  }
  #prendre-rendez-vous .text-wrapper {
    padding-top: 0;
  }
  #temoignages .text-wrapper,
  #prendre-rendez-vous .text-wrapper {
    flex: 1;
  }
  #prendre-rendez-vous .form-wrapper {
    padding: 24px 16px;
    flex: 1;
    max-width: 100%;
  }

  .custom-form .col {
    margin-bottom: 8px;
  }
  .bottom-subwrapper svg {
    transform: rotate(90deg);
    position: relative;
    right: -26px;
  }
  .scroll-wrapper {
    display: none !important;
  }

  #temoignages .bottom {
    margin-top: 36px;
  }
  #services .container-slider,
  #realisations .container-slider,
  #expertises .bottom .container-slider,
  #temoignages .bottom .container-slider {
    position: relative !important;
  }
  .realisations-list,
  .realisations-expert-list,
  .temoignages-list {
    margin-left: 0;
  }
  .realisations-list li,
  .realisations-expert-list li,
  .temoignages-list li {
    padding-left: 0;
    padding-right: 0;
    /* max-width: calc(85vw - 32px) !important; */
    /* max-width: inherit !important; */
  }
  .temoignages-list li .item-text-wrapper p {
    max-width: 90%;
    margin-bottom: 73px;
  }
  .realisations-upper .bottom,
  .realisations-expert .bottom,
  #temoignages .bottom {
    height: auto;
  }
  #temoignages .slick-list {
    overflow: hidden;
  }
  #temoignages .text-wrapper p,
  .realisations-expert .text-wrapper p {
    margin-top: 24px;
  }

  .realisations-expert-list li .item-text-wrapper {
    width: 100%;
    flex: 0 0 100%;
  }
  .realisations-expert-list li .item-img-wrapper {
    position: absolute !important;
  }
  .realisations-expert-list li .item-text-wrapper h4 {
    /* max-width: calc(100% - 180px); */
    max-width: inherit;
    margin-left: auto;
    /* padding-left: 20px; */
    min-height: 108px;
  }

  .realisations-upper {
    padding-bottom: 0;
  }
  .slick-dots li button::before {
  }
  .slick-dots li {
    max-width: 52px;
  }
  .slick-dots {
    width: calc(100vw - 32px);
  }

  .section-title {
    font-size: 24px;
    line-height: 26.4px;
  }

  .section-about-cont {
    margin-bottom: 36px;
  }

  .section-about-cont .section-title {
    margin-bottom: 24px;
  }

  /***************************
  ***** Section accueil *******
  ***************************/
  #accueil {
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
  }

  #accueil .img-wrapper {
    flex: 1 0 230px;
    margin-bottom: 36px;
  }

  #accueil .img-wrapper > div {
    width: 230px;
    margin: 0 auto;
  }
  #accueil .img-wrapper > div::after {
    border-width: 58px 0 0 58px;
    border-color: transparent transparent transparent var(--blue);
  }
  #accueil .text-wrapper {
    flex: 1 0 316px;
  }

  #accueil .section-title {
    font-size: 36px;
    text-align: center;
    line-height: 39.6px;
  }
  #accueil .text-wrapper p {
    margin: 30px 0;
  }

  /***************************
  ***** Section services *******
  ***************************/
  #services {
    padding-top: 36px;
  }

  #services .section-title + p {
    max-width: 100%;
    font-size: 14px;
  }

  #services .position-relative {
    height: 498px;
    margin: 0 -16px;
  }

  #services-carousel .slick-slide {
    margin: 0 24px 0 0;
    width: 100%;
    /* max-width: 344px; */
    max-width: calc(100vw - 32px);
  }

  #services-carousel .slick-list {
    margin: 0 -16px 0 0;
  }

  .service-card {
    height: 498px;
    overflow: hidden;
    max-width: inherit;
  }

  .sc-img {
    object-position: center -55px;
    object-fit: cover;
    height: auto;
  }

  .sc-text {
    top: unset;
    bottom: 0;
    /* height: 248px; */
    height: auto;
    background-color: var(--blue-secondary);
    padding: 24px;
  }

  .service-card:hover .sc-text {
    background-color: var(--blue-secondary);
    /* height: 248px; */
    height: auto;
  }

  .sc-title {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 56px;
    min-height: 54px;
    margin-bottom: 24px;
  }

  .sc-title h3 {
    font-size: 16px;
    line-height: 22.4px;
    max-width: 100%;
  }

  .sc-text > p {
    font-size: 12px;
    line-height: 16.8px;
  }

  .service-card::after {
    bottom: unset;
    top: 0;
    left: 0;
    border-width: 0 0 64px 84px;
    border-color: transparent transparent transparent white;
  }

  /***************************
  ** Section réalisations ****
  ***************************/
  .realisations-expert,
  #temoignages,
  #prendre-rendez-vous {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .realisations-upper {
    padding: 48px 0;
  }
  .realisations-upper .top {
    margin-bottom: 36px;
  }
  .realisations-upper .top,
  .temoignages .top {
    margin-left: 0;
    margin-right: 0;
  }
  .realisations-upper .text-wrapper {
    flex: 1 0 content;
    max-width: 100%;
  }
  #realisations .text-wrapper p {
    margin-top: 24px;
    font-size: 14px;
  }
  .realisations-upper .scroll-wrapper {
    display: none;
  }

  .realisations-upper .bottom {
    height: 229px;
  }

  .realisations-list li:not(.slick-dots li) {
    /* max-width: 344px; */
    max-width: inherit;
    padding: 0;
    margin-right: 16px;
  }
  .realisations-list li img {
    width: 100%;
    object-fit: unset;
  }

  .realisations-expert {
    background-image: none;
  }
  .realisations-expert .container {
    padding: 16px 0;
    border-top: none;
  }

  .realisations-expert .text-wrapper {
    flex: 1 0 content;
    max-width: 100%;
  }

  #temoignages .text-wrapper p,
  .realisations-expert .text-wrapper p {
    font-size: 14px;
  }

  .realisations-expert .bottom {
    height: 360px;
    margin-top: 36px;
  }
  .realisations-expert-list li:not(.slick-dots li) {
    padding: 26.7px 0 0 0;
    margin-right: 16px;
  }
  .realisations-expert-list li .item-img-wrapper:before {
    font-size: 64px;
    line-height: 70.4px;
    top: -42px;
  }
  .realisations-expert-list li .item-img-wrapper {
    width: 180px;
    height: 152px;
    min-width: 180px;
    padding-left: 28px;
    padding-right: 0;
  }
  .realisations-expert-list li .item-img-wrapper img {
    width: 100%;
    /* max-width: 152px; */
    max-width: inherit;
  }

  .realisations-expert-list li .item-text-wrapper {
    padding-left: 24px;
  }
  .realisations-expert-list li .item-text-wrapper h4 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 36px;
  }
  .realisations-expert-list li .item-text-wrapper p {
    font-size: 12px;
    line-height: 16.8px;
  }

  /***************************
** Section temoignages ****
***************************/
  #temoignages {
    padding-top: 36px;
  }

  .temoignages-list li .item-text-wrapper p {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 36px;
  }

  .temoignages-list li .item-text-wrapper p br {
    display: none;
  }

  .temoignages-list li > div {
    padding-top: 50px;
    padding-left: 50px;
  }
  .temoignages-list li > div:before {
    width: 50px;
    height: 30.6px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #temoignages .bottom {
    height: auto;
  }
  #temoignages .container-slider {
    position: relative !important;
  }
  .temoignages-list {
    margin-left: 0;
  }
  .temoignages-list li:not(.slick-dots li) {
    max-width: calc(100vw - 64px) !important;
    padding-left: 0;
    padding-right: 30px;
  }
  .temoignages-list li {
    padding-right: 0;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .realisations-list li,
  .realisations-expert-list li {
    max-width: calc(50vw - 32px) !important;
  }
  .temoignages-list li {
    max-width: calc(100vw - 32px) !important;
  }
  .realisations-expert-list li .item-img-wrapper {
    width: 50%;
    min-width: 50%;
  }
  .realisations-expert-list li .item-text-wrapper h4 {
    max-width: 45%;
  }
}

@media (max-width: 575.98px) {
  .realisations-expert-list li .item-text-wrapper h4 {
    max-width: calc(100% - 180px);
  }
  .service-card {
    max-width: 100%;
  }

  .ui-datepicker,
  .ui-timepicker-wrapper {
    width: calc(100vw - 64px);
    height: auto;
  }

  .ui-timepicker-list {
    justify-content: center;
  }

  #services-carousel .slick-slide {
    padding-left: 0;
    padding-right: 0;
    max-width: calc(100vw - 32px) !important;
    /* max-width: inherit !important; */
  }

  .realisations-list li,
  .realisations-expert-list li,
  .temoignages-list li {
    padding-left: 0;
    padding-right: 0;
    max-width: calc(100vw - 32px) !important;
    /* max-width: inherit !important; */
  }

  .temoignages-list li {
    max-width: calc(100vw - 64px) !important;
    /* max-width: inherit !important; */
  }

  #services-carousel .slick-slide {
    margin: 0 16px 0 0;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 479.98px) {
  .footer-colonne .col-tel a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 38px;
    width: 100%;
    text-align: center;
    max-width: 337px;
  }
}
@media (max-width: 400.98px) {
  .slick-dots li,
  .slick-dots li button,
  .slick-dots li button::before {
    width: 24px;
    height: 2.5px;
    padding: 0;
  }
}
