@media (min-width: 992px) and (max-width: 1199.98px) {
	[dir='rtl'] .header .right .link-wrapper {
		padding-right: 16px;
		padding-left: 6px;
	}
}

@media (max-width: 1199.98px) {
	[dir='rtl'] .footer-colonne .col-menu ul {
		padding: 0;
	}

	[dir='rtl'] .footer-colonne .col-menu ul li a {
		text-align: right;
	}

	[dir='rtl'] .footer-colonne .col-menu ul li:nth-child(2n) a {
		text-align: left;
	}

	[dir='rtl'] .footer-colonne .col-menu ul li:last-child {
		float: right;
		margin-right: 1.75%;
	}

	[dir='rtl'] .footer-colonne .col-tel h4 {
		text-align: center;
	}

	[dir='rtl'] .footer-colonne .col-logo {
		clear: both;
	}
}

@media (max-width: 991.98px) {
	[dir='rtl'] .header .navbar-brand {
		margin-left: 0;
		padding-left: 0;
		padding-right: 24px;
	}

	[dir='rtl'] .navbar-collapse {
		left: unset;
		right: 0;
	}

	[dir='rtl'] .navbar-collapse.collapsing {
		-webkit-transition: right 0.5s ease;
		-o-transition: right 0.5s ease;
		-moz-transition: right 0.5s ease;
		transition: right 0.5s ease;
		left: unset;
		right: -100%;
	}

	[dir='rtl'] .navbar-collapse.show {
		left: unset;
		right: 0;
		-webkit-transition: right 0.5s ease-out;
		-o-transition: right 0.5s ease-out;
		-moz-transition: right 0.5s ease-out;
		transition: right 0.5s ease-out;
	}
}

@media (max-width: 767.98px) {
	[dir='rtl'] #accueil .text-wrapper {
		text-align: center;
	}

	[dir='rtl'] .bottom-subwrapper svg {
		transform: rotate(90deg);
		right: unset;
		left: -26px;
	}

	[dir='rtl'] .realisations-expert-list li:not(.slick-dots li) {
		margin-right: 0;
		margin-left: 16px;
	}

	[dir='rtl'] .realisations-expert-list li .item-img-wrapper {
		padding-left: 0;
		padding-right: 28px;
	}

	[dir='rtl'] .realisations-expert-list li .item-text-wrapper {
		padding-right: 24px;
	}

	[dir='rtl'] .realisations-expert-list li .item-text-wrapper h4 {
		margin-left: initial;
		margin-right: auto;
	}

	[dir='rtl'] #services .position-relative {
		margin: 0;
	}

	[dir='rtl'] #services .slick-dots {
		margin: 0 -16px;
	}

	#expertises .container-slider[dir='rtl'],
	[dir='rtl'] #expertises .container-slider {
		margin: 0;
	}

	[dir='rtl'] .temoignages-list {
		margin-right: 0;
	}
}
